<h1>Essential 80&rsquo;s Gadgets</h1>

<br />

<div class="container">

  <div class="photo">
    <%= image_tag @gadget1.image_filename %>
  </div>
  <div class="text-container">
    <h2><%= @gadget1.gadget_name %></h2>
    <p><%= @gadget1.description %></p>
  </div>

  <br class="clear" />
  <br />

  <div class="photo">
    <%= image_tag @gadget2.image_filename %>
  </div>
  <div class="text-container">
    <h2><%= @gadget2.gadget_name %></h2>
    <p><%= @gadget2.description %></p>
  </div>

  <br class="clear" />
  <br />

  <div class="photo">
    <%= image_tag @gadget3.image_filename %>
  </div>
  <div class="text-container">
    <h2><%= @gadget3.gadget_name %></h2>
    <p><%= @gadget3.description %></p>
  </div>
</div>